<div class="search-form mb-5">
    <%= form_with scope: "search", url: staff_score_sheets_path, method: "get", local: true do |f| %>
        <div class="form-group">
            <%= f.label :student_member_id, "生徒:" %>
            <%= f.collection_select :student_member_id, StudentMember.all, :id, :full_name, prompt: "選択する" %>
        </div>
        <div class="form-submit">
            <%= f.submit "検索", class: "btn btn-outline-primary" %>
        </div>    
    <% end %>
</div>