<div class="body-title">
    <p class="h5">お知らせ投稿</p>
</div>
<%= form_with model: @post, url: staff_posts_path, local: true do |f| %>
    <%= render "layouts/error_messages", model: f.object %>
    <%= render partial: "form", locals: { f: f } %>
    <div class="form-submit">
        <%= f.submit "投稿", class: "btn btn-outline-success" %>
    </div>
<% end %>