<%= form_with model: @event, url: staff_events_new_path, local: true do |f| %>
    <%= render partial: "form", locals: { f: f } %>
    <div class="btn-group">
        <%= f.submit "登録", class: "btn btn-outline-success" %>
    </div>
<% end %> 
<%= button_to "戻る", staff_events_path, method: :get, class: "btn btn-outline-secondary" %>
