<h1>ようこそCramAppへ！</h1>
<div class="row mt-4">
<div class="col-lg-4">
    <div class="card">
        <div class="card-header">
            生徒用ログイン
        </div>
        <div class="card-body">
            当塾で学習している学生用のログイン・新規登録用ページです。
        </div>
        <a><%= link_to "ログイン / 新規登録", student_root_path, class: "btn btn-primary" %></a>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">
        <div class="card-header">
            保護者用ログイン
        </div>
        <div class="card-body">
            当塾で学習している学生の保護者のログイン・新規登録用ページです。
        </div>
        <a><%= link_to "ログイン / 新規登録", parent_root_path, class: "btn btn-primary" %></a>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">
        <div class="card-header">
            講師用ログイン
        </div>
        <div class="card-body">
            当塾で学習している講師用のログイン・新規登録用ページです。
        </div>
        <a><%= link_to "ログイン / 新規登録", staff_root_path, class: "btn btn-primary" %></a>
    </div>
</div>
</div>
<h3>テスト用ログインアドレス↓<h3>