<div class="top-title">
    <h1>ようこそCramAppへ！</h1>
</div>
<div class="card-container row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                生徒用ログイン
            </div>
            <div class="card-body">
                当塾で学習している学生用のログイン・新規登録用ページです。
            </div>
            <a><%= link_to "ログイン / 新規登録", student_root_path, class: "btn btn-primary", id: "student_login" %></a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                保護者用ログイン
            </div>
            <div class="card-body">
                当塾で学習している学生の保護者のログイン・新規登録用ページです。
            </div>
            <a><%= link_to "ログイン / 新規登録", parent_root_path, class: "btn btn-primary", id: "parent_login" %></a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                講師用ログイン
            </div>
            <div class="card-body">
                当塾で学習している講師用のログイン・新規登録用ページです。
            </div>
            <a><%= link_to "ログイン / 新規登録", staff_root_path, class: "btn btn-primary", id: "staff_login" %></a>
        </div>
    </div>
</div>
<div class="test-account mt-3">
    <h5 class="mb-3">テスト用ログインアドレス</h5>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ユーザー</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">パスワード</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>生徒</td>
            <td>ichiro@example.com</td>
            <td>password</td>
            </tr>
            <tr>
            <td>保護者</td>
            <td>shinichi@example.com</td>
            <td>password</td>
            </tr>
            <tr>
            <td>講師</td>
            <td>taro@example.com</td>
            <td>password</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="description">
    <div class="summary">
        <h5>概要</h5>
        <p>架空の個別指導塾(クラムアップ個別指導塾)の学習記録サイトです。授業ごとに授業内容の記録を講師が作成し、保護者・生徒はそれを確認できます。
        またそれ以外にも、塾からのお知らせ掲示板・カレンダーでの時間割確認・学校の定期テストの結果報告などの機能があります。
        </p>
    </div>
    <div class="systems">
        <h5>各種機能</h5>
        <ul>
            <li class="system">
                <h6>デイリーシート</h6>
                <a>授業ごとに授業内容を記録するシートです。また授業態度の報告や宿題の指示、次回の学習内容を記入する欄もあります。
                講師が作成し、保護者と生徒はその内容を確認できます。新規デイリーシートが作成されると、保護者のお知らせ一覧ページに通知が表示されます。
                </a>
            </li>
            <li class="system">
                <h6>予定表</h6>
                <a>カレンダーで授業の時間割を管理できます。生徒が、空いている時間に参加登録する予約型の予定もあります。</a>
            </li>
            <li class="system">
                <h6>点数表</h6>
                <a>学校で実施された定期テストの結果を生徒が報告します。講師と保護者はそれを確認できます。また、テストごとに塾内の受験者数や平均点を確認できます。</a>
            </li>
            <li class="system">
                <h6>お知らせ</h6>
                <a>塾からのお知らせが掲示されます。</a>
            </li>
        </ul>
    </div>
</div>
