<div class="top-title">
    <h1>ようこそCramAppへ！</h1>
</div>
<div class="card-container row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                生徒用ログイン
            </div>
            <div class="card-body">
                当塾で学習している学生用のログイン・新規登録用ページです。
            </div>
            <a><%= link_to "ログイン / 新規登録", student_root_path, class: "btn btn-primary", id: "student_login" %></a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                保護者用ログイン
            </div>
            <div class="card-body">
                当塾で学習している学生の保護者のログイン・新規登録用ページです。
            </div>
            <a><%= link_to "ログイン / 新規登録", parent_root_path, class: "btn btn-primary", id: "parent_login" %></a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                講師用ログイン
            </div>
            <div class="card-body">
                当塾で学習している講師用のログイン・新規登録用ページです。
            </div>
            <a><%= link_to "ログイン / 新規登録", staff_root_path, class: "btn btn-primary", id: "staff_login" %></a>
        </div>
    </div>
</div>
<div class="test-account mt-5">
    <h5 class="mb-3">テスト用ログインアドレス</h5>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ユーザー</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">パスワード</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>生徒</td>
            <td>ichiro@example.com</td>
            <td>password</td>
            </tr>
            <tr>
            <td>保護者</td>
            <td>shinichi@example.com</td>
            <td>password</td>
            </tr>
            <tr>
            <td>講師</td>
            <td>taro@example.com</td>
            <td>password</td>
            </tr>
        </tbody>
    </table>
</div>