<div class="body-title">
    <h5>CramAppの使い方(講師)</h5>
</div>
<div class="content">
    <ul>
        <li>
            <b>お知らせ</b>
            <ul>
                <li>
                    <a>投稿</a>
                    <p>ヘッダの<span class="square">お知らせ→お知らせ投稿</span>からお知らせを新規投稿できます。お知らせとは講師が投稿するもので、全ての生徒と保護者が閲覧可能です。
                    特に重要なお知らせの場合、チェックボックスにチェックを入れることで<span class="text-danger">[重要]</span>の表示を追加できます。
                    </p>
                </li>
                <li>
                    <a>一覧</a>
                    <p>ヘッダの<span class="square">お知らせ→お知らせ一覧</span>ボタンからお知らせ一覧を確認できます。お知らせのタイトルをクリックすると具体的な内容を確認できます。
                    特に重要なお知らせには<span class="text-danger">[重要]</span>の表示がついています。
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <b>デイリーシート</b>
            <ul>
                <li>
                    <a>作成</a>
                    <p>ヘッダの<span class="square">デイリーシート→デイリーシート作成</span>ボタンからデイリーシートを新規作成できます。デイリーシートとは毎回の授業ごとに講師が作成するもので、
                    授業の内容や宿題、出席情報、講師からのメッセージなどを確認できます。メッセージの欄には生徒・保護者あてにメッセージを記入してください。
                    メッセージは事務的な連絡ではなく、コミュニケーションを図る手段として活用してください。連絡事項の欄には宿題や次回の持ち物等を記入してください。
                    </p>
                </li>
                <li>
                    <a>一覧</a>
                    <p>ヘッダの<span class="square">デイリーシート→デイリーシート一覧</span>からデイリーシート一覧を確認できます。デイリーシートとは毎回の授業ごとに講師が作成するもので、
                    授業の内容や宿題、出席情報、講師からのメッセージなどを確認できます。<span class="square">表示</span>をクリックするとデイリーシートの詳細を確認できます。
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <b>点数表</b>
            <p>ヘッダの<span class="square">点数表</span>から学校の定期テストの結果を確認できます。点数表は生徒が登録したもので、科目とその点数が記録されています。
            <span class="square">表示</span>から詳細(各科目の点数等)を確認できます。さらに<span class="under_bar">このテストの情報を確認する</span>をクリックすると、
            そのテストの情報(塾内で同じテストを受けた生徒の平均点や最高点、最低点等)を見ることができます。
            </p>
        </li>
        <li>
            <b>予定表</b>
            <p>ヘッダの<span class="square">予定表</span>から授業の予定を確認できます。<span class="square">授業予定を追加</span>を押すと新しく予定を追加できます。
            夏季講習や冬季講習など、生徒が後から予約するタイプの講習は予約型を、それ以外の普段の授業の場合は通常授業を選択してください。
            予定をクリックすると詳細を確認できます。<span class="light-pink">ピンク</span>で表示されている予定は、まだ予約されていない講習(夏季講習・冬季講習)、
            <span class="lime-green">緑色</span>で表示されている予定は、生徒さんが予約した講習、<span class="deep-sky-blue">水色</span>で表示されている予定は、それ以外の通常授業です。
            </p>
        </li>
        <li>
            <b>テキスト</b>
            <p>ヘッダの<span class="square"><i class="fas fa-school"></i>→テキスト</span>から当塾で使用しているテキスト一覧の確認・テキストの新規登録ができます。</p>
        </li>
        <li>
            <b>教室情報</b>
            <p>ヘッダの<span class="square"><i class="fas fa-school"></i>→教室情報</span>から当塾の情報を確認できます。</p>
        </li>
        <li>
            <b>ユーザー情報</b>
            <p>ヘッダの<span class="square">ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ユーザー情報</span>からあなたの情報を確認できます。
            <span class="square">編集</span>をクリックで情報を編集、<span class="square">削除</span>でユーザー(あなた)を削除できます。
            </p>
        </li>
        <li>
            <b>ログアウト</b>
            <p>ヘッダの<span class="square">ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ログアウト</span>からログアウトできます。</p>
        </li>
    </ul>
</div>