<div class="title border-bottom mt-4 mb-4">
    <h5>CramAppの使い方(保護者)</h5>
</div>
<div class="content">
    <ul>
        <li>
            <b>お知らせ</b>
            <p>ヘッダの"お知らせ"ボタンからお知らせ一覧を確認できます。お知らせのタイトルをクリックすると具体的な内容を確認できます。
            お知らせとは講師が投稿するもので、全ての生徒と保護者が閲覧可能です。特に重要なお知らせには[重要]マークがついています。
            お知らせページのトップに「新しいデイリーシートがあります」の通知がある場合は、生徒さんの受講した授業のデイリーシートが新しく作成されています。
            </p>
        </li>
        <li>
            <b>デイリーシート</b>
            <p>ヘッダの"デイリーシート"ボタンからデイリーシート一覧を確認できます。デイリーシートとは毎回の授業ごとに講師が作成するもので、
            授業の内容や宿題、出席情報、講師からのメッセージなどを確認できます。"表示"ボタンをクリックするとデイリーシートの詳細を確認できます。
            </p>
        </li>
        <li>
            <b>予定表</b>
            <p>ヘッダの"予定表"ボタンから授業の予定を確認できます。普段の授業は水色で表示されていて、クリックすると詳細を確認できます。
            緑色で表示されている予定は、生徒さんが予約した講習(夏季講習・冬季講習)です。
            </p>
        </li>
        <li>
            <b>点数表</b>
            <p>ヘッダの"点数表"ボタンから学校の定期テストの結果を確認できます。点数表は生徒さんが登録したもので、科目とその点数が記録されています。</p>
        </li>
        <li>
            <b>教室情報</b>
            <p>ヘッダの"教室情報"ボタンから当塾の情報を確認できます。</p>
        </li>
        <li>
            <b>ユーザー情報</b>
            <p>ヘッダの"ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ユーザー情報"からあなたの情報を確認できます。
            "編集"ボタンをクリックで情報を編集、"削除"ボタンでユーザー(あなた)を削除できます。
            </p>
        </li>
        <li>
            <b>ログアウト</b>
            <p>ヘッダの"ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ログアウト"からログアウトできます。</p>
        </li>
    </ul>
</div>