<% provide(:body_title, "CramAppの使い方(保護者)") %>
<div class="content">
    <ul>
        <li>
            <b>お知らせ</b>
            <p>ヘッダの<span class="square">お知らせ</span>からお知らせ一覧を確認できます。お知らせのタイトルをクリックすると具体的な内容を確認できます。
            お知らせとは講師が投稿するもので、全ての生徒と保護者が閲覧可能です。特に重要なお知らせには<span class="text-danger">[重要]</span>の表示がついています。
            お知らせページのトップに「新しいデイリーシートがあります」の通知がある場合は、生徒さんの受講した授業のデイリーシートが新しく作成されています。
            </p>
        </li>
        <li>
            <b>デイリーシート</b>
            <p>ヘッダの<span class="square">デイリーシート</span>からデイリーシート一覧を確認できます。デイリーシートとは毎回の授業ごとに講師が作成するもので、
            授業の内容や宿題、出席情報、講師からのメッセージなどを確認できます。<span class="square">表示</span>をクリックするとデイリーシートの詳細を確認できます。
            </p>
        </li>
        <li>
            <b>予定表</b>
            <p>ヘッダの<span class="square">予定表</span>から授業の予定を確認できます。生徒さんが出席する授業が<span class="deep-sky-blue">水色</span>で表示されていて、クリックすると詳細を確認できます。
            </p>
        </li>
        <li>
            <b>点数表</b>
            <p>ヘッダの<span class="square">点数表</span>から学校の定期テストの結果を確認できます。点数表は生徒さんが登録したもので、科目とその点数が記録されています。</p>
        </li>
        <li>
            <b>教室情報</b>
            <p>ヘッダの<span class="square">教室情報</span>から当塾の情報を確認できます。</p>
        </li>
        <li>
            <b>ユーザー情報</b>
            <p>ヘッダの<span class="square">ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ユーザー情報</span>からあなたの情報を確認できます。
            <span class="square">編集</span>をクリックで情報を編集、<span class="square">削除</span>でユーザー(あなた)を削除できます。
            </p>
        </li>
        <li>
            <b>ログアウト</b>
            <p>ヘッダの<span class="square">ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ログアウト</span>からログアウトできます。</p>
        </li>
    </ul>
</div>