<%= form_with model: @daily_sheet, url: staff_daily_sheets_path, local: true do |f| %>
    <%= render "layouts/error_messages", model: f.object %>
    <%= render partial: "form", locals: { f: f } %>
    <div class="form-submit">
        <%= f.submit "作成", class: "btn btn-outline-success" %>
    </div>
<% end %> 