<%= markup do |m|
    p = AccountFormPresenter.new(f, self)
    m << p.notes
    p.with_options(required: true) do |q|
        m << q.full_name_block(:family_name, :given_name, "氏名", class: "form-control col")
        m << q.full_name_block(:family_name_kana, :given_name_kana, "フリガナ", class: "form-control col")
        m << q.text_field_block(:email, "メールアドレス", class: "form-control")
        m << q.date_select_block(:birthday, "生年月日", start_year: Time.now.year, end_year: 1900, class: "form-control")
    end
end %>
<div class="form-group">
    <%= f.label :gender, "性別", class: "required" %>
    <%= f.select :gender, ParentMember.genders_i18n.keys.map{|k| [I18n.t("enums.parent_member.gender.#{k}"), k]}, id: "gender", required: true %>
</div> 
