<div class="title border-bottom mt-4 mb-4">
    <h5>CramAppの使い方(生徒)</h5>
</div>
<div class="content">
    <ul>
        <li>
            <b>お知らせ</b>
            <p>ヘッダの"お知らせ"ボタンからお知らせ一覧を確認できます。お知らせのタイトルをクリックすると具体的な内容を確認できます。
            お知らせとは講師が投稿するもので、全ての生徒と保護者が閲覧可能です。特に重要なお知らせには[重要]マークがついています。
            </p>
        </li>
        <li>
            <b>デイリーシート</b>
            <p>ヘッダの"デイリーシート"ボタンからデイリーシート一覧を確認できます。デイリーシートとは毎回の授業ごとに講師が作成するもので、
            授業の内容や宿題、出席情報、講師からのメッセージなどを確認できます。"表示"ボタンをクリックするとデイリーシートの詳細を確認できます。
            </p>
        </li>
        <li>
            <b>予定表</b>
            <p>ヘッダの"予定表"ボタンから授業の予定を確認できます。普段の授業は水色で表示されていて、クリックすると詳細を確認できます。
            緑色で表示されている予定は、予約可能な講習(夏季講習・冬季講習)です。講習はクリックすると予約ができ、自分で時間を選んで参加できます。
            </p>
        </li>
        <li>
            <b>定期テストの点数登録</b>
            <p>ヘッダの"定期テスト→点数登録"ボタンから学校の定期テストの結果を登録できます。"生徒(自分の名前)"と"テスト"を選択したら、科目と点数を入力してください。
            2つ以上の科目を受験した場合は、"+フォームを追加"ボタンで科目を増やすことができます。登録したテストは、ヘッダの"定期テスト→過去のテスト結果"ボタンから確認できます。
            </p>
        </li>
        <li>
            <b>教室情報</b>
            <p>ヘッダの"教室情報"ボタンから当塾の情報を確認できます。</p>
        </li>
        <li>
            <b>ユーザー情報</b>
            <p>ヘッダの"ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ユーザー情報"からあなたの情報を確認できます。
            "編集"ボタンをクリックで情報を編集、"削除"ボタンでユーザー(あなた)を削除できます。
            </p>
        </li>
        <li>
            <b>ログアウト</b>
            <p>ヘッダの"ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ログアウト"からログアウトできます。</p>
    </li>
    </ul>
</div>