<div class="body-title">
    <h5>CramAppの使い方(生徒)</h5>
</div>
<div class="content">
    <ul>
        <li>
            <b>お知らせ</b>
            <p>ヘッダの<span class="square">お知らせ</span>からお知らせ一覧を確認できます。お知らせのタイトルをクリックすると具体的な内容を確認できます。
            お知らせとは講師が投稿するもので、全ての生徒と保護者が閲覧可能です。特に重要なお知らせには<span class="text-danger">[重要]</span>の表示がついています。
            </p>
        </li>
        <li>
            <b>デイリーシート</b>
            <p>ヘッダの<span class="square">デイリーシート</span>からデイリーシート一覧を確認できます。デイリーシートとは毎回の授業ごとに講師が作成するもので、
            授業の内容や宿題、出席情報、講師からのメッセージなどを確認できます。<span class="square">表示</span>をクリックするとデイリーシートの詳細を確認できます。
            </p>
        </li>
        <li>
            <b>予定表</b>
            <p>ヘッダの<span class="square">予定表</span>から授業の予定を確認できます。普段の授業は<span class="deep-sky-blue">水色</span>で表示されていて、クリックすると詳細を確認できます。
            <span class="light-pink">ピンク</span>で表示されている予定は、予約可能な講習(夏季講習・冬季講習)です。講習はクリックすると予約ができ、自分で時間を選んで参加できます。
            講習を予約すると、その予定も<span class="deep-sky-blue">水色</span>で表示されるようになります。
            </p>
        </li>
        <li>
            <b>定期テストの点数登録</b>
            <p>ヘッダの<span class="square">定期テスト→点数登録</span>から学校の定期テストの結果を登録できます。"生徒(自分の名前)"と"テスト"を選択したら、科目と点数を入力してください。
            2つ以上の科目を受験した場合は、<span class="square">+フォームを追加</span>で科目を増やすことができます。登録したテストは、ヘッダの<span class="square">定期テスト→過去のテスト結果</span>から確認できます。
            </p>
        </li>
        <li>
            <b>教室情報</b>
            <p>ヘッダの<span class="square">教室情報</span>から当塾の情報を確認できます。</p>
        </li>
        <li>
            <b>ユーザー情報</b>
            <p>ヘッダの<span class="square">ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ユーザー情報</span>からあなたの情報を確認できます。
            <span class="square">編集</span>をクリックで情報を編集、<span class="square">削除</span>でユーザー(あなた)を削除できます。
            </p>
        </li>
        <li>
            <b>ログアウト</b>
            <p>ヘッダの<span class="square">ユーザーアイコン<i class="fas fa-user fa-fw fa-la"></i>→ログアウト</span>からログアウトできます。</p>
        </li>
    </ul>
</div>