<table class="table">
    <tr>
        <th scope="col">名称</th>
    </tr>
    <% @goal_sheets.each do |g| %>
        <tr>
        <td><%= g.name %></td>
        <td><%=  button_to "表示", parent_goal_sheet_path(g.id), method: "get", class: "btn btn-outline-info" %></td>
        </tr>
    <% end %>
</table>
<%= paginate @goal_sheets %>
<%= button_to "トップに戻る", parent_root_path, method: "get", class: "btn btn-outline-secondary" %>