<%= form_with(model: @goal_sheet, url: staff_goal_sheet_path, local: true) do |f| %>
    <%= render partial: "form", locals: { f: f } %>
    <div class="form-submit">
        <%= f.submit "更新", class: "btn btn-outline-success" %>
    </div>
<% end %> 