<%= form_with model: @score_sheet, url: student_score_sheet_path, local: true do |f| %>
    <%= render "layouts/error_messages", model: f.object %>
    <%= render "form", f: f %>
    <div class="form-submit">
        <%= f.submit "更新", class: "btn btn-outline-success" %>
    </div>
<% end %>